{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block title %}
    Ai Come!!! - Restaurante: {{ restaurante.nome }}
{% endblock title %}
{% block nav_link %}
    <li class="nav-item ">
        <a class="nav-link" href="{% url 'homepage' %}">Home</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'restaurante-listar' %}">Restaurantes<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'pedido-listar' %}">Pedidos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin">Adminstração</a>
    </li>
{% endblock nav_link %}
{% block content %}
    <div class="jumbotron mt-5">
        <h1>{{ restaurante.nome }}</h1>
        <p class="lead">{{ restaurante.endereco }}</p>
    </div>
    <h3 class="mt-4 text-center text-muted">Escolha um produto!</h3>
    <ul class="list-group list-group-flush my-5">
        {% for item in restaurante.produto_set.all %}
            <li class="list-group-item">{{ item.nome }} - {{ item.valor }}</li>
        {% empty %}
            <div class="text-center">Sem produtos cadastrados!</div>
        {% endfor %}
    </ul>
{% endblock content %}
{% block googleapis %}
{% endblock googleapis %}